.s-pops-cnt{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #000000c5;
    color: white;
}
.s-pops-cnt .fa-times{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: red;
    padding: 5px 8px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}
.s-c-services-cnt{
    position: absolute;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    background-color: rgba(6, 155, 255, 0.199);
    border-radius: 10px;
}
.s-c-services-cnt h4{
    width: fit-content;
    margin: 20px auto;
    font-size: 32px;
    text-align: center;
}
.h-s-cnt{
    width: 80%;
    height: inherit;
    margin: auto;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}
.s-c-navigator{
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
}
.s-cnt{
    width: 30%;
}
.s-cnt h5{
    width: fit-content;
    background-color: red;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}
.s-ls p{
    width: fit-content;
    margin: 10px 0;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-bottom: 5px;
    font-weight: bold;
}
.s-cnt-btns{
    width: fit-content;
    display: flex;
    gap: 20px;
    margin: auto;
}
.rq-s button{
    background-color: rgb(0, 162, 255);
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}