
/*---
    #RESPONSIVE DESIGN
              __*/


@media (max-width: 1000px) {
    .sevice-cnt{
        width: 80%;
        gap: 20px;
    }
    .badge-promo{
        bottom: 32%;
    }
    .badge-promo p{
        font-size: 10px;
    }
}

@media (max-width: 915px) {
    .dtl-cnt h4{
        font-size: 12px;
    }
    .badge-promo{
        bottom: 36%;
    }
    .badge-promo p{
        font-size: 8px;
    }
}

@media (max-width: 750px) {
    .top-contact{
        margin: auto;
    }
    .nav-accounts h1{
        padding: 5px 20px;
    }
    .top-nav-social{
        position: fixed;
        display: grid;
        gap: 20px;
        top: 20%;
        left: 2%;
        z-index: 1000;
    }
    .nav-menu{
        padding: 5px 30px;
    }
    .nav-menu-links{
        min-width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        gap: unset;
        justify-content: space-between;
        background-color: rgb(255, 0, 0);
        padding: 0 10px;
        margin-right: unset;
        z-index: 10000;
    }
    .nav-menu-links .menu-link{
        width: fit-content;
        font-weight: 900;
        margin: 5px 0px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .menu-link.active-m-link{
        border-bottom: none;
        background-color: white;
    }
    .menu-link.active-m-link a{
        color: black;
    }
    .menu-link:hover{
        border-bottom: none;
    }
    .top-whatsapp{
        position: fixed;
        right: 1%;
        bottom: 15%;
        z-index: 1;
    }
    .top-whatsapp i{
        font-size: 32px;
        cursor: pointer;
    }
    .top-whatsapp a{
        display: none;
    }
    .sevice-cnt{
        position: relative;
        background-color: rgb(255, 255, 255);
        margin-top: 70px;
        border-radius: 5px;
        padding: 20px 0;
    }
    .sevice-cnt-img-area{
        margin: auto;
        margin-top: 30px;
    }
    /* .sevice-cnt-img-area .back-g{
        border: 1px solid rgb(255, 255, 255);
    } */
    .sevice-cnt-txt-area{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.541);
        border-radius: 5px;
        z-index: 1000;
        color: white;
    }
    .sevice-cnt-txt-area h4{
        width: fit-content;
        color: white;
        margin: 20px auto;
        margin-top: 40px;
    }
    .sevice-cnt-txt-area p{
        width: 70%;
        text-align: center;
        margin: auto;
    }
    .sevice-cnt-txt-area a{
        width: 25%;
        text-align: center;
        bottom: 15%;
        left: 37%;
    }
    .promo-test-ctn{
        display: grid;
    }
    .abt-cnt{
        display: grid;
    }
    .abt-cnt-r{
        width: 80%;
    }
    .abt-cnt-l{
        width: 80%;
        margin: 20px auto;
    }
    .promo{
        width: 90%;
        margin: auto;
    }
    .dtl-cnt h4{
        font-size: 18px;
    }
    .badge-promo p{
        font-size: 16px;
    }
    .badge-promo{
        bottom: 23%;
    }
    .tstmnls{
        width: 100%;
        margin: auto;
    }
    .tst-cntnt{
        width: 90%;
    }
    .blog-d{
        width: 75%;
        margin:20px auto;
    }
    .footer-links{
        width: 95%;
        gap: 20px;
    }
    .footer-links .f-lnk{
        width: 230px;
        margin: auto;
    }
    .copyright{
        margin-bottom: 37px;
    }
}

@media (max-width: 570px) {
    .item .content{
        width: 70%;
        left: 15%;
    }
    .abt-cnt-r{
        width: 90%;
    }
    .service-data-cnt{
        width: 90%;
        margin: 15px;
    }
    .service-data-cnt h6{
        width: 80px;
        height: 80px;
        right: -2%;
        top: -5%;
        border: 5px solid white;
        font-size: 15px;
        padding-top: 15px;
    }
    .service-data-cnt i{
        font-size: 60px;
    }
    .service-data-cnt h4{
        font-size: 30px;
    }
    .service-data-cnt p{
        font-size: 24px;
    }
    .badge-promo{
        width: 30%;
    }
    .badge-promo p{
        font-size: 9px;
    }
    .tstmnls-cnt{
        width: 100%;
    }
    .blog-d{
        width: 90%;
    }
}
@media (max-width: 500px) {
    .dtl-cnt h4{
        font-size: 16px;
    }
    .services-cont{
        padding: 0px 0px;
    }
    .sevice-cnt-txt-area h4{
        font-size: 18px;
    }
    .sevice-cnt-txt-area p{
        width: 80%;
        font-size: 12px;
    }
    .sevice-cnt-txt-area a{
        width: 50%;
        left: 25%;
    }
}
@media (max-width: 500px) {
    .item .content{
        width: 80%;
        left: 15%;
    }
    .content .name{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .menu-link a{
        font-size: 14px;
    }
    .sevice-cnt-img-area .back-g{
        width: 230px;
        height: 230px;
    }
    .sevice-cnt-img-area img{
        height: 230px;
    }
    .sevice-cnt-txt-area p{
        line-height: 18px;
    }
    .sevice-cnt-txt-area a{
        bottom: 5%;
    }
    .copyright{
        margin-bottom: 35px;
    }
    .copyright p{
        font-size: 12px;
    }
}